<div class="container">
  <h1>
    Dashboard
  </h1>

  <md-card>
    <md-card-header>
      <md-card-title>Registered Users</md-card-title>
      <md-card-subtitle>Statistics on 9 Sep 2017</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p class="number">
        440
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="/users">Detail</button>
    </md-card-actions>
  </md-card>

  <br>

  <md-card>
    <md-card-header>
      <md-card-title>Stored Investigations</md-card-title>
      <md-card-subtitle>Statistics on 9 Sep 2017</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p class="number">
        1440
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="/investigations">Detail</button>
    </md-card-actions>
  </md-card>
</div>
